@model Quote

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page - Quote</h1>
    <a asp-action="Other">Other Page</a>
    <p>@Model.Text - @Model.Author</p>
   
</div>
